.field-collection-datatables-form tbody .tabledrag-toggle-weight-wrapper,
.field-collection-datatables-form .field-multiple-table thead{
    display: none;
}
.field-collection-datatables-form .field-multiple-table>tbody>tr:first-child td{
    border-top: none;
}