.field-deplace-detail-km,
.field-deplace-detail-cv,
.tabledrag-toggle-weight-wrapper,
.sticky-header{
  display: none;
}

@media (max-width: 500px) {
  .field-multiple-table td:nth-child(2):before { content: 'Type'; }
  .field-multiple-table td:nth-child(3):before { content: 'Frais'; }
  .field-multiple-table td:nth-child(4):before { content: 'Devise'; }
  .field-multiple-table td:nth-child(5):before { content: 'Taux'; }
  .field-multiple-table td:nth-child(6):before { content: 'Montant'; }
  .field-multiple-table td:nth-child(7):before { content: 'Nombre km'; }
  .field-multiple-table td:nth-child(8):before { content: 'Nombre CV'; }
  .field-multiple-table td:nth-child(9):before { content: 'Justificatif'; }
  .field-multiple-table  table,
  .field-multiple-table  thead,
  .field-multiple-table  tbody,
  .field-multiple-table  th,
  .field-multiple-table  td,
  .field-multiple-table  tr {
    display: block;
  }

  .field-multiple-table thead tr {
    display:none;
  }
  .field-multiple-table td {
    position: relative;
    border: 0px solid transparent;
    padding-left: 30% !important;
    white-space: normal;
    text-align:right;
  }

  .field-multiple-table td:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    padding-right: 15px;
    height:100%;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    overflow:hidden !important;
    text-align:left;
    background-color:#f8f8f8;
    padding:2px;
  }
}
