/* view list page type*/
dl.node-type-list dt{
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
dl.node-type-list dd{
  padding-bottom: 5px;
}
dl.node-type-list dt:nth-of-type(odd),
dl.node-type-list dd:nth-of-type(odd){
  background-color: #f9f9f9;
}
dl.node-type-list dt:nth-of-type(even):hover,
dl.node-type-list dd:nth-of-type(even):hover{
  background-color: #fcfcfc;
}
/* fix views */
#edit-options .collapsible{
    float: none;
}
#edit-options-default-action {
    width: auto;
}

/* fix theme palette */
.color-form .form-text{
    width: 31%;
}
.color-form .form-select{
    width: auto;
}

/* fix feeds */
.feeds-container-body .form-submit.ajax-processed ~ div{
    display: inline;
}

/* fix date */
.container-inline-date .date-padding{
  float: none;
}
.container-inline-date .form-item.date-no-float{
  width: 98%;
}
.date-form-element-content-multiline{
  border: none;
}
.form-item.date-spacer{
  margin-left: .5em;
}
.form-type-date-select .form-type-select[class*=minute] {
   margin-left: .5em;
 }
.form-horizontal .form-group .date-form-element-content-multiline label.control-label{
 width: auto;
}

/* fix field group, display manage */
.field-formatter-settings-editing select.form-control,
.field-formatter-settings-editing input.form-control,
.field-group.add-new #edit-fields-add-new-group-group-name{
  display: inline-block;
  width: auto;
}
/* fix user dashboard */
@media screen and (max-width: 1024px){
  #dashboard div#user_dashboard_sidebar, #dashboard div#user_dashboard_column2,
  #dashboard div#user_dashboard_main, #dashboard div#user_dashboard_column1,
  #user_dashboard_main,#user_dashboard_sidebar{width:auto}
}
@media (min-width: 768px) {
  .form-horizontal .form-group td label {
    width: auto;
  }
}
.user-dashboard-region a.panel-title{
  font-size: 20px;
  font-weight: bolder;
}
/* fix taxonomy manager*/
.term-operations .img-responsive{
  display: inline;
}
/* fix field collection */
.field-collection-container .action-links li a,
.field-collection-container .field-collection-view-links li a{
  display: inline-block;
  padding: 6px 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.field-collection-container .field-collection-view-links li.delete a{
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.field-collection-container .field-collection-view-links li.edit a{
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.field-collection-container .action-links-field-collection-add li a{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.container-inline-date .form-item input.bdtpicker-processed{
  width: 100%;
}
.form-inline .dtr-details .dtr-title .form-control{
  display: none;
}
.tabbable{
  clear: both;
}
.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .month-view .full td.multi-day div.monthview{
  background: #e6e6b4;
  color: #2e2e2e;
}
.form-horizontal .fieldgroup-horizontal-value .radio,
.form-horizontal .fieldgroup-horizontal-value .checkbox{
  padding: 0;
  margin: auto;
  line-height: unset;
}

.row.comment{
  margin-bottom: 1em;
}
.comment-inner .panel {
  position:relative;
}
.comment-inner .panel>.panel-heading:after,
.comment-inner .panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.comment-inner .panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
.comment-inner .panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}
.field-name-comment-body .textarea-processed area.ocupload-drop{
  display: none;
}

.field-type-field-collection .field-type-entityreference .field-multiple-table .entityreference-view-widget-table-row .field-multiple-drag,
.field-type-field-collection .field-type-entityreference .field-multiple-table th.field-label{
  display: none;
}
.field-type-field-collection .field-type-entityreference .field-multiple-table .entityreference-view-widget-table-row label.control-label {
  padding-left: auto !important;
}

.field-type-field-collection .field-type-entityreference .field-multiple-table .entityreference-view-widget-table-row .control-label .element-invisible{
  position: relative !important;
}

.field-type-field-collection .field-type-entityreference .field-multiple-table .entityreference-view-widget-table-row .control-label .entityreference-view-widget-checkbox {
  margin-left: auto;
}

.geolocation-address .form-type-textfield {
  float: none;
}
