.page-admin-content .action-links a:not(.btn){
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}
.navbar-header .logo img{
  height: 34px;
}
.menu.navbar-nav a i{
  margin-right: 5px;
}

@media (min-width: 768px){
  .dataTable .form-control {
    width: 100%;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
  #drupalchat-wrapper{
    display: none !important;
  }
}

/*Custom*/
.field-echeances-no-facture .tabledrag-toggle-weight-wrapper{
  display: none;
}
.details thead th{
  background: #333399 !important;
  color: #fff !important;
  text-align: center;
}
.details tbody td{
  text-align: right;
}
.details tbody td:first-child{
  text-align: left;
}
/*
.border{
  border: 1px solid #dee2e6!important;
}*/

.field-name-field-order-supplier .field-multiple-drag{
  display: none;
}
.table .disabled{
  cursor: not-allowed;
}
/*  Conges calendar */
.calendar-calendar td .inner div a.username {
  color: #a94442;
}
/* budget*/
.view-budgetaire .version,
.q_consulter,.q_saisir,.q_budget{
  width: 80px;
}
div.shadow {
  margin: 0 auto 10px;
  background: #fff;
  min-height: 100px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  -webkit-transition: .15s;
  transition: .15s;
  cursor: pointer;
}
.img-circle.avatar-text{
  padding: 8px;
}
.view-support.view-display-id-dashboard  .views-field-body img,
.view-support.view-display-id-table .views-field-body img,
.media-body img{
  width: 100%;
}
.media-body .file img{
  width: auto;
}
.panel.droppable{
  z-index: 1;
  min-height: 50px;
}
.panel .draggable{
  z-index: 10;
}
.view-support.view-display-id-table .table-responsive{
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border-color: #ddd;
  border-radius: 10px;
}
.view-support.view-display-id-table caption{
  text-align: center;
  color: #fff;
  background: #666;
}
.form-item-field-conges-date-und-0-value2-date label{
  display: none;
}
.view-support .user-picture{
  width: 40px;
}
.esign_container{
  min-width: 300px;
}
/* Support suivi projet*/
.field-name-ds-user-picture a img{
  min-height: 200px;
}

.views-field-picture a{
  display: block;
  min-width: 100px;
}

/* project */
#bootstrap-fieldgroup-nav-item--wind{
  margin-top: -10px;
}
#field-projet-wind-add-more-wrapper > .panel {
  border: none;
}
#field-projet-wind-add-more-wrapper > .panel > .panel-heading {
  display: none;
}
.view-id-digest.view-display-id-page .view-content > h3 a{
  color: #a94442;
}

.view-id-digest.view-display-id-page .view-content table caption{
  display: none;
}

.field-type-text-long .field-item{
  white-space: pre-line;
}
.field-name-field-paiement-lignes{
  clear: both;
}
